
.logo {
     text-transform: capitalize;
     font-size: 35px;
     font-weight: 700;
     margin: 0;
     padding: 20px 0;
     color: #EEB41A;
   }
   .main-menu {
     margin: 0;
     padding: 0;
     text-align: right;
   }
   .main-menu li {
     list-style: none;
     display: inline-block;
   }
   .main-menu li a {
     text-transform: uppercase;
     padding: 40px 10px;
     display: block;
     color: #fff;
     text-decoration: none;
     font-size: 14px;
     font-weight: 600;
     transition: .3s all;
     -webkit-transition: .3s all;
     -moz-transition: .3s all;
     -ms-transition: .3s all;
     -o-transition: .3s all;
}

   .main-menu li a:hover{
        color:#EEB41A ;
   }
   main {
     background: #263238;
   }
  
   .hero-img {
     width: 100%;
   }
   .hero-text {
     height: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     margin-top: 30px;

   }


   
.hero-text h1 {
     color: #F0C03A;
     font-weight: 300;
   }
   .hero-text p {
     color: #fff;
   }
   
   .hero-btn {
     display: inline-block;
     text-align: center;
     width: 142px;
     color: #FFC423;
     text-transform: capitalize;
     border: 1px solid #fff;
     padding: 13px 0;
     border-radius: 5px;
     text-decoration: none !important;
     transition: .3s;
     font-weight: 600;
   }
   .hero-text p {
     margin: 25px 0;
   }

   .hero-btn:hover{
        color: #000;
        background:#FFC423 ;
   }